<!DOCTYPE html>
<html>
<head>
    <title>List of Pets</title>
    <style>
        table {
            border-collapse: collapse;
            width: 70%;
        }
        table, th, td {
            border: 1px solid black;
            padding: 4px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h3>List of Pets</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Owner</th>
        <th>Kind</th>
        <th>Food</th>
        <th>Noise</th>
        <th colspan="2">Actions</th>
    </tr>
    {% for pet in pets %}
    <tr>
        {% for key in pet.keys() %}
        <td>{{ pet[key] }}</td>
        {% endfor %}
        <td><a href="/delete/{{pet['id']}}">Delete</a></td>
        <td><a href="/update/{{pet['id']}}">Update</a></td>
    </tr>
    {% endfor %}
</table>

<hr/>
<a href="/create">Create New Pet</a>
<br/>
<a href="/kind">Pet Kinds</a>

</body>
</html>
